@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* background-color: cornflowerblue; */
    color: blue;
 }
 .container {
    width: 1200px;
    margin:auto;
    height: 100vh;
    background-color: #ccc;
    box-shadow: 0px 1px 3px rgb(102, 102, 102);
 }
 header {
    height: 4rem;
    width: 100%;
    background-color: rgb(93, 93, 97);
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.logo {
    width: 150px;
    height: 100%;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 }
nav ul {
   display: flex;
   list-style: none;
}
nav ul li a {
   font-family: 'Raleway', sans-serif;
   display: block;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   padding: 1rem;
}
nav ul li a:hover {
   opacity:.75;
}